@import 'font-awesome';
// Put any @imports here
// See Readme for a list of supported ones

body {
  background: #e2ebf3;
}
h1 {
  font-size: 3em;
  margin: 2% 0 0 5%;
}
.floatLeft {
  float: left;
  width: 50%;

  #hands {
  background-image: url('../img/hands.png');
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 5%;
  border: 3px solid black;
  border-radius: 3px;
  }
  #container {
    background-image: url('../img/container.png');
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
    margin: 5% 0 2% 5%;
  }
}
.floatRight {
  float: right;
  width: 50%;

  #drop {
  width: 300px;
  height: 300px;
  border: 5px solid red;
  margin: 5% 0 2% 5%;
    p {
      padding: 1% 2%;
     
    }

  }
  .dropped {
    border: 15px solid green;
    background-color: green;
    font-size: 3em;
    color: yellow;
    padding: 0;
  }
  #resizable {
    width: 150px; 
    height: 150px; 
    padding: 0.5em; 
    border: 2px solid yellow;

    h3 { 
      text-align: center; 
      margin: 0; }

    #man {
      width: 80%;
      padding: 5px;
    }
  }
}

